# 数据处理

## 导入相关的包

In [6]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [7]:
%time
# read data
df_data = pd.read_csv("./d_train.csv",encoding="gbk")
#rename clumns's name
rename_dict = {"性别":"gender","年龄":"age","体检日期":"date","血糖":"blood_sugar"}
re_rename_dict = {v:k for k,v in zip(rename_dict.keys(),rename_dict.values())}
df_data.rename(columns=rename_dict,inplace=True)
features = [x for x in list(df_data.columns) if x not in ["gender","age","date","blood_sugar","id"]]
fea_rename = { v:"feature_" + str(k) for k,v in enumerate(features)}
re_fea_rename = {v:k for k, v in zip(fea_rename.keys(), fea_rename.values())}
df_data["gender"] = df_data.gender.apply(lambda x: 1 if x == "男" else 0)
df_data.rename(columns=fea_rename,inplace=True)

Wall time: 0 ns

In [8]:
df_data.head(10)

,id,gender,age,date,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,...,feature_28,feature_29,feature_30,feature_31,feature_32,feature_33,feature_34,feature_35,feature_36,blood_sugar
0,1,1,41,12/10/2017,24.96,23.10,99.59,20.23,76.88,49.60,...,166.0,9.9,17.4,0.164,54.1,34.2,6.5,4.7,0.6,6.06
1,2,1,41,19/10/2017,24.57,36.25,67.21,79.00,79.43,47.76,...,277.0,9.2,10.3,0.260,52.0,36.7,5.8,4.7,0.8,5.39
2,3,1,46,26/10/2017,20.82,15.23,63.69,38.17,86.23,48.00,...,241.0,8.3,16.6,0.199,48.1,40.3,7.7,3.2,0.8,5.59
3,4,0,22,25/10/2017,14.99,10.59,74.08,20.22,70.98,44.02,...,252.0,10.3,10.8,0.260,41.7,46.5,6.7,4.6,0.5,4.30
4,5,0,48,26/10/2017,20.07,14.78,75.79,22.72,78.05,41.83,...,316.0,11.1,14.0,0.350,56.6,33.1,9.1,0.6,0.6,5.42
5,6,0,74,18/10/2017,23.72,22.59,81.23,23.35,76.46,45.85,...,249.0,8.5,17.0,0.211,42.9,47.0,7.1,2.1,1.0,5.97
6,7,1,31,21/09/2017,24.97,25.53,109.03,65.42,80.82,46.40,...,246.0,10.8,13.3,0.270,52.9,32.0,11.3,3.1,0.7,5.11
7,8,1,55,21/09/2017,37.32,40.03,88.49,25.15,74.17,41.63,...,282.0,10.5,13.0,0.300,52.8,36.9,6.6,2.8,0.9,5.94
8,9,1,39,16/10/2017,21.70,39.17,102.91,67.09,76.12,49.31,...,275.0,9.8,11.4,0.270,53.1,35.9,7.3,3.3,0.4,5.66
9,10,0,35,10/10/2017,18.89,15.79,78.21,25.75,75.94,46.64,...,247.0,10.7,12.6,0.270,65.6,27.3,5.4,1.0,0.7,5.48

In [9]:
df_data.drop(["feature_15","feature_16","feature_17","feature_18","feature_19"],axis=1,inplace=True)

In [10]:
df_data.shape

(5642, 37)

In [11]:
df_data.drop(df_data[df_data["age"] < 20].index, inplace=True)

In [12]:
df_data.drop(df_data[df_data["age"] > 85].index,inplace=True)

In [13]:
df_data.drop(df_data[df_data["blood_sugar"] > 15].index,inplace=True)

In [14]:
# 3 num's log smoothness
df_data["blood_sugar"] = np.log(df_data["blood_sugar"])
df_data["blood_sugar"] = np.log(df_data["blood_sugar"])
df_data["blood_sugar"] = np.log(df_data["blood_sugar"])
df_data["blood_sugar"] = - df_data["blood_sugar"]

In [15]:
df_data.shape

(5606, 37)

In [16]:
df_data.blood_sugar.describe()

count    5606.000000
mean        0.659132
std         0.172299
min         0.007015
25%         0.579548
50%         0.672724
75%         0.763972
max         2.164343
Name: blood_sugar, dtype: float64

In [17]:
df_data_des = df_data.describe()

In [18]:
re_rename_dict = {v:k for k,v in zip(rename_dict.keys(),rename_dict.values())}
re_fea_rename = {v:k for k, v in zip(fea_rename.keys(), fea_rename.values())}
re_fea_rename.update(re_rename_dict)
print(re_fea_rename)

{'feature_0': '*天门冬氨酸氨基转换酶', 'feature_1': '*丙氨酸氨基转换酶', 'feature_2': '*碱性磷酸酶', 'feature_3': '*r-谷氨酰基转换酶', 'feature_4': '*总蛋白', 'feature_5': '白蛋白', 'feature_6': '*球蛋白', 'feature_7': '白球比例', 'feature_8': '甘油三酯', 'feature_9': '总胆固醇', 'feature_10': '高密度脂蛋白胆固醇', 'feature_11': '低密度脂蛋白胆固醇', 'feature_12': '尿素', 'feature_13': '肌酐', 'feature_14': '尿酸', 'feature_15': '乙肝表面抗原', 'feature_16': '乙肝表面抗体', 'feature_17': '乙肝e抗原', 'feature_18': '乙肝e抗体', 'feature_19': '乙肝核心抗体', 'feature_20': '白细胞计数', 'feature_21': '红细胞计数', 'feature_22': '血红蛋白', 'feature_23': '红细胞压积', 'feature_24': '红细胞平均体积', 'feature_25': '红细胞平均血红蛋白量', 'feature_26': '红细胞平均血红蛋白浓度', 'feature_27': '红细胞体积分布宽度', 'feature_28': '血小板计数', 'feature_29': '血小板平均体积', 'feature_30': '血小板体积分布宽度', 'feature_31': '血小板比积', 'feature_32': '中性粒细胞%', 'feature_33': '淋巴细胞%', 'feature_34': '单核细胞%', 'feature_35': '嗜酸细胞%', 'feature_36': '嗜碱细胞%', 'gender': '性别', 'age': '年龄', 'date': '体检日期', 'blood_sugar': '血糖'}

In [19]:
# get describe for features
# df_data_des.rename(columns=re_fea_rename,inplace=True)
# df_data_des.to_excel('./feature_describe.xlsx',encoding='gbk')

In [20]:
# del the row that have nan
# df_data_without_nan = df_data.dropna(axis=0,how='any')
# df_data_without_nan.rename(columns=re_fea_rename,inplace=True)
# df_data_without_nan.to_csv('./base_train.csv',encoding='gbk',index=False)

In [21]:
df_data[df_data['feature_28'].isnull().values == True]

,id,gender,age,date,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,...,feature_28,feature_29,feature_30,feature_31,feature_32,feature_33,feature_34,feature_35,feature_36,blood_sugar
202,204,0,34,26/10/2017,19.58,14.74,83.76,15.30,82.36,44.77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.646852
1145,1161,1,34,28/09/2017,27.63,24.97,64.01,20.26,78.14,51.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.622496
2313,2344,1,49,15/09/2017,44.88,57.78,126.32,184.68,80.81,45.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.583105
2445,2488,0,50,18/09/2017,24.18,27.07,70.31,37.85,77.96,46.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.558863
2481,2524,1,46,18/09/2017,12.59,21.76,109.50,38.51,75.80,46.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013898
2610,2656,0,65,19/09/2017,50.87,58.53,94.12,61.35,79.06,45.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.449069
3366,3422,1,48,21/09/2017,24.96,31.70,80.76,29.43,73.49,44.87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.597658
3473,3530,1,57,22/09/2017,52.65,47.56,106.01,152.74,80.55,50.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.091968
3480,3537,0,45,22/09/2017,26.35,12.33,65.90,81.66,72.88,45.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.745198
3541,3601,0,80,22/09/2017,23.43,20.43,107.78,34.27,77.18,41.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.775060
4258,4330,1,51,26/10/2017,24.30,21.93,89.62,34.86,73.64,45.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.705049
4565,4642,0,40,27/09/2017,29.70,31.93,78.84,27.44,76.92,44.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.825414
5124,5206,1,55,28/09/2017,46.96,79.96,70.52,71.61,81.87,48.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.305340
5240,5322,0,60,29/09/2017,22.50,17.32,69.95,11.72,77.47,45.36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.769482
5270,5352,1,39,29/09/2017,18.85,32.14,81.83,40.17,73.92,44.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.504222
5271,5353,0,39,29/09/2017,18.98,13.75,69.10,16.03,77.78,44.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.780707

# 缺失值模型训练以及填充缺失值

## 导入相关的包

In [22]:
from sklearn.ensemble import RandomForestRegressor

In [23]:
base_train = pd.read_csv("./base_train.csv")

In [28]:
rf_test = df_data[df_data["feature_8"].isnull().values == True]

In [37]:
cols = list(rf_test.columns)
print(cols)
cols_FT = list(rf_test.isnull().any())
[k for k,v in zip(cols, cols_FT) if v == False]

['id', 'gender', 'age', 'date', 'feature_0', 'feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5', 'feature_6', 'feature_7', 'feature_8', 'feature_9', 'feature_10', 'feature_11', 'feature_12', 'feature_13', 'feature_14', 'feature_20', 'feature_21', 'feature_22', 'feature_23', 'feature_24', 'feature_25', 'feature_26', 'feature_27', 'feature_28', 'feature_29', 'feature_30', 'feature_31', 'feature_32', 'feature_33', 'feature_34', 'feature_35', 'feature_36', 'blood_sugar']

['id',
 'gender',
 'age',
 'date',
 'feature_20',
 'feature_21',
 'feature_22',
 'feature_23',
 'feature_24',
 'feature_25',
 'feature_26',
 'feature_27',
 'feature_28',
 'feature_29',
 'feature_30',
 'feature_31',
 'feature_32',
 'feature_33',
 'feature_34',
 'feature_35',
 'feature_36',
 'blood_sugar']

In [27]:
cols = [x for x in df_data.columns.tolist() if x not in ["id","gender","age","date","blood_sugar"]]

for c in cols:
    rf_test = df_data[df_data[c].isnull().values == True]
#     get no NaN's col
    with_nan_cols = [k for k,v in zip(list(rf_test.columns), list(rf_test.isnull().any())) if v == True]
    no_nan_cols = [k for k,v in zip(list(rf_test.columns), list(rf_test.isnull().any())) if v == False]
    if len(with_nan_cols) == 0:
        continue
    for wnc in with_nan_cols:
        label = wnc
        features = no_nan_cols
        dtrain = np.array(base_train[features])
        dlabel = np.array(base_train[label])
        dtest = np.array(rf_test[features])
        rf = RandomForestRegressor()
        rf.fit(dtrain, dlabel)
        rf_test[label] = rf.predict(dtest)

(1216, 37)
(1216, 37)
(1216, 37)
(1216, 37)
(1216, 37)
(1216, 37)
(1216, 37)
(1216, 37)
(1213, 37)
(1213, 37)
(1213, 37)
(1213, 37)
(1374, 37)
(1374, 37)
(1374, 37)
(16, 37)
(16, 37)
(16, 37)
(16, 37)
(16, 37)
(16, 37)
(16, 37)
(16, 37)
(16, 37)
(23, 37)
(23, 37)
(23, 37)
(16, 37)
(16, 37)
(16, 37)
(16, 37)
(16, 37)
(0, 37)

Empty DataFrame
Columns: [id, gender, age, date, feature_0, feature_1, feature_2, feature_3, feature_4, feature_5, feature_6, feature_7, feature_8, feature_9, feature_10, feature_11, feature_12, feature_13, feature_14, feature_20, feature_21, feature_22, feature_23, feature_24, feature_25, feature_26, feature_27, feature_28, feature_29, feature_30, feature_31, feature_32, feature_33, feature_34, feature_35, feature_36, blood_sugar]
Index: []

[0 rows x 37 columns]